---
title: Leaders

# Put leaders' picture files in the "images/leaders" folder.

# The HTML and styling in the file "_includes/leader.html" gets included
#   once for each leader.  You should only edit that file if
#   you're changing the style or appearance.  To change the list of leaders,
#   you only have to edit the following section of this file.

# To add people, copy & paste a block of lines that looks like this (without the hashtags):
#   - name: Wally Waltz
#     position: Treasurer
#     image_file: wally.jpg
#     description: <p>Wally joined the team in fall 2016. He is a dance major and he keeps the team running by taking care of the money.</p>
# And make sure you paste it under either "board:" or "coaches:" appropriately.

# Note that for "description:", you can put either plain text or HTML.

leaders:
  board:
    - name: Dana Dinh
      position: President
      image_file: Dana_2019.jpg
      description: <p>Some team members jokingly call her Madame President or Her Majesty (she would prefer that you call her by her name), but Dana is a relatively normal senior pursuing a B.A. in communication and master of communication management. She has been on the team since the first semester of her freshman year when she slipped on a ballroom flyer. She is the Team Mom, having a hand in everything the team does; she handles logistics for competitions, oversees the team's daily operations, and coordinates board members' tasks. She also orders the food. Her family worries that she eats, sleeps, and breathes ballroom (this is only vaguely untrue), but Dana is also a midnight binge-reader, maker of many desserts (which she frequently uses to bribe her dance partner), Pinterest-addict, and cat lady (she has an adorable kitty named Alice).</p>
    - name: Queenique Dinh
      position: Social Chair
      image_file: Queenique_2019.jpg
      description: <p>Queenique is a junior studying astronautical engineering who’s been on the team since her freshman year.  As the social chair, she’s in charge of planning fun team events like retreats and social dance excursions!  Having grown up as a competitive dancer, she’s ecstatic that ballroom brought her back to the dance floor. When she’s not studying rocket science or dancing, Queenique loves scoping out good food and drinking copious amounts of boba.</p>
    - name: Mitchell Lee
      position: Treasurer
      image_file: Mitchell_2019.png
      description: <p>Mitchell Lee is a junior studying Neuroscience. He has been on the team since Fall of 2018 and he aspires to go to medical school. As treasurer, Mitchell manages the team’s finances, collects dues, and takes care of the yearly budget for the team. Mitchell loves travelling, photography, movies, fashion, art, and sports. He’s also a huge foodie and loves dogs (as pets).</p>
    - name: Kevin Gutierrez
      position: Secretary
      image_file: Kevin_2019.jpg
      description: <p>Kevin Gutierrez is a sophomore from Utah studying Neuroscience at USC. Kevin is the Secretary for Ballroom dance and releases weekly newsletters for members to read and stay up to date with the club. Kevin is interested in the medical field and keeps himself busy with many rigorous classes like introductory chemistry. He is quite recognizable by his eyes which are somehow both brown and blue. As a ballroom dancer, Kevin has many years of experience on his belt and hips like Shakira. He is a huge lover of trees.</p>
  coaches:
    - name: Lorena Bravo
      position: Ballroom & Smooth Coach
      image_file: lorena.jpg
      description: <p>Lorena is our Smooth coach.  She got her start in the USC Ballroom Dance Team, and now she competes nationally and has many years of professional dance experience.  See her website <a href="http://www.bravodancing.com/" target="_blank">here</a>.</p>
    - name: Jonathan Atkinson
      position: Latin & Rhythm Coach
      image_file: jonathan.jpg
      description: <p>Jonathan is our Rhythm coach.  He also competes nationally and has many years of experience in professional dancing and dance instruction.  See his website <a href="http://ballroomdancers.com/" target="_blank">here</a>.</p>

---

<div class="page_container">
  <div class="LeadersPage">
    <h1>Leaders</h1>
    <p>Meet the team's coaches and executive board!</p>
    <h2>Executive Board</h2>
    {% for b in page.leaders.board %}
      {% include leader.html person=b %}
    {% endfor %}
    <h2 class="LeadersPage_coachesTitle">Coaches</h2>
    {% for c in page.leaders.coaches %}
      {% include leader.html person=c %}
    {% endfor %}
  </div>
</div>
