---
title: Leaders

# Put leaders' picture files in the "images/leaders" folder.

# The HTML and styling in the file "_includes/leader.html" gets included
#   once for each leader.  You should only edit that file if
#   you're changing the style or appearance.  To change the list of leaders,
#   you only have to edit the following section of this file.

# To add people, copy & paste a block of lines that looks like this (without the hashtags):
#   - name: Wally Waltz
#     position: Treasurer
#     image_file: wally.jpg
#     description: <p>Wally joined the team in fall 2016. He is a dance major and he keeps the team running by taking care of the money.</p>
# And make sure you paste it under either "board:" or "coaches:" appropriately.

# Note that for "description:", you can put either plain text or HTML.

leaders:
  board:
    - name: Dana Dinh
      position: President
      image_file: Dana_2019.jpg
      description: <p>Some team members jokingly call her Madame President or Her Majesty (she would prefer that you call her by her name), but Dana is a relatively normal senior pursuing a B.A. in communication and master of communication management. She has been on the team since the first semester of her freshman year when she slipped on a ballroom flyer. She is the Team Mom, having a hand in everything the team does; she handles logistics for competitions, oversees the team's daily operations, and coordinates board members' tasks. She also orders the food. Her family worries that she eats, sleeps, and breathes ballroom (this is only vaguely untrue), but Dana is also a midnight binge-reader, maker of many desserts (which she frequently uses to bribe her dance partner), Pinterest-addict, and cat lady (she has an adorable kitty named Alice).</p>
    - name: Mitchell Lee
      position: Treasurer
      image_file: Queenique_2019.jpg
      description: <p>Mitchell Lee is a junior studying Neuroscience. He has been on the team since Fall of 2018 and he aspires to go to medical school. As treasurer, Mitchell manages the team’s finances, collects dues, and takes care of the yearly budget for the team. Mitchell loves travelling, photography, movies, fashion, art, and sports. He’s also a huge foodie and loves dogs (as pets).</p>
    - name: Queenique Dinh
      position: Social Chair
    image_file: Queenique_2019.jpg
      description: <p>Queenique is a junior studying astronautical engineering who’s been on the team since her freshman year.  As the social chair, she’s in charge of planning fun team events like retreats and social dance excursions!  Having grown up as a competitive dancer, she’s ecstatic that ballroom brought her back to the dance floor. When she’s not studying rocket science or dancing, Queenique loves scoping out good food and drinking copious amounts of boba.</p>
    - name: Sara Kwan
      position: Social Co-Chair
      image_file: Sara.jpg
      description: <p>Sara is a senior majoring in applied math and minoring in applied analytics. She joined the team in Fall 2016 and helps organize the team’s social and volunteer events. Her daily routine often consists of satisfying constant orange juice cravings, listening to alternative rock music, and missing any and all pop culture references.</p>
    - name: Zoe Schack
      position: Social Co-Chair
      image_file: Zoe.jpg
      description: <p>Zoe is a Senior studying non-Computer Science, from not right here in Ohio! She's bad at writing bios, so Alex wrote hers, but she likes people, places, and things!</p>
    - name: Alex Hazen
      position: Secretary
      image_file: Alex.jpg
      description: <p>Just your stereotypical nerd without the glasses. 6'0, ENFP, colorblind. Alex is studying Computer Science at USC. He likes board games, Sci-Fi/Fantasy, rock climbing, terrain races, and throwing himself into unnecessarily dangerous situations! (He's also a Marathon runner, I guess.) He is in charge of sending the weekly newsletter and monitoring the club email account.</p>
  coaches:
    - name: Lorena Bravo
      position: Ballroom & Smooth Coach
      image_file: lorena.jpg
      description: <p>Lorena is our Smooth coach.  She got her start in the USC Ballroom Dance Team, and now she competes nationally and has many years of professional dance experience.  See her website <a href="http://www.bravodancing.com/" target="_blank">here</a>.</p>
    - name: Jonathan Atkinson
      position: Latin & Rhythm Coach
      image_file: jonathan.jpg
      description: <p>Jonathan is our Rhythm coach.  He also competes nationally and has many years of experience in professional dancing and dance instruction.  See his website <a href="http://ballroomdancers.com/" target="_blank">here</a>.</p>

---

<div class="page_container">
  <div class="LeadersPage">
    <h1>Leaders</h1>
    <p>Meet the team's coaches and executive board!</p>
    <h2>Executive Board</h2>
    {% for b in page.leaders.board %}
      {% include leader.html person=b %}
    {% endfor %}
    <h2 class="LeadersPage_coachesTitle">Coaches</h2>
    {% for c in page.leaders.coaches %}
      {% include leader.html person=c %}
    {% endfor %}
  </div>
</div>
