<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>SC Ballroom and Latin Dance Team</title>
    <link rel="stylesheet" href="./vendor/css/bootstrap.css"/>
    <link rel="stylesheet" href="./vendor/slick/slick.css"/>
    <link rel="stylesheet" href="./vendor/slick/slick-theme.css"/>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="./fonts.css"/>
    <link rel="stylesheet" href="./style.css"/>
    <link rel="stylesheet" href="./pages.css"/>
    <link href='https://fonts.googleapis.com/css?family=Asap:400,700' rel='stylesheet' type='text/css'>
    <!-- Facebook Pixel Code (for visitor counting) -->
    <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');

    fbq('init', '1611077499204557');
    fbq('track', "PageView");
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=1611077499204557&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->
  </head>
  <body>
  {% for image in site.static_files %}
      {% if image.path contains 'images/backgrounds' %}
          <img src="{{ site.baseurl }}{{ image.path }}" alt="Background"/>
      {% endif %}
  {% endfor %}
    <div id="main">
      <div style="margin: 40px 0; display: block; text-align: center;">
        Loading...
      </div>
    </div>
    <div style="display: none;"><img style="border: 0 auto;" src="http://www.e-zeeinternet.com/count.php?page=1147388&style=LED_g&nbdigits=5" alt="Free Counter" border="0" ></div>
    <script src="./vendor/js/babel-browser.min.js"></script>
    <script src="./vendor/js/jquery-1.11.3.min.js"></script>
    <script src="./vendor/js/react-0.14.3.js"></script>
    <script src="./vendor/js/react-dom-0.14.3.js"></script>
    <script src="./vendor/slick/slick.min.js"></script>
    <script src="./vendor/js/cx.js"></script>
    <script src="./vendor/js/routie.min.js"></script>
    <script type="text/babel" src="./page_link.js"></script>
    <!-- Put pages below -->
    <script type="text/babel" src="./people_page.js"></script>
    <script type="text/babel" src="./faq_page.js"></script>
    <script type="text/babel" src="./classes_page.js"></script>
    <script type="text/babel" src="./schedule_page.js"></script>
    <!-- Put pages above -->
    <script type="text/babel" src="./pages.js"></script>
    <script type="text/babel" src="./script.js"></script>
  </body>
</html>
