.PeoplePage_person {
  margin: 20px 0;
}
.PeoplePage_personImage {
  float: left;
  width: 150px;
  height: 150px;
  margin-right: 10px;
  background-size: cover;
  border: 4px solid #181818;
}
.PeoplePage_personText h3 {
  margin-top: 0;
}
.PeoplePage_coachesTitle {
  margin-top: 40px;
}



ul.SchedulePage_weeklyList li {
  margin-top: 5px;
}
ul.SchedulePage_weeklyList > li {
  margin-top: 20px;
}
ul.SchedulePage_weeklyList {
  margin-bottom: 20px;
}
.SchedulePage_map {
  width: 100%;
  max-width: 500px;
}



.ContactPage {
  padding-top: 40px;
  text-align: center;
}
