<div>
  <div class="SiteHeader {% if page.large_header %}SiteHeader_large{% endif %}">
    <div class="SiteHeaderBackground">
      <div id="slick_carousel" class="SiteHeaderBackground_carousel">
      </div>
    </div>
    <div class="SiteHeader_overlay">
      <div class="my_container">
        <div class="SiteHeader_title">
          <span>SC Ballroom and Latin Dance&nbsp;Team</span>
        </div>
      </div>
      <div class="Navigation_container">
        <div class="my_container">
          <div class="Navigation">
            <!-- Don't touch the following line; instead edit _data/information.yaml -->
            <div class="Navigation_pages">{% for page_id in site.data.information.page_order %}{% assign page_url = page_id | prepend:"/" | append:"/" %}{% assign p = site.pages | where:"url", page_url | first %}<a class="{% if p.url == page.url %}Navigation_currentPage{% endif %}" href="{{p.url}}">{{p.title}}</a>{% cycle '', '', '', '</div><div class="Navigation_pages">' %}{% endfor %}</div>
            <div class="Navigation_controls">
              images:
              <a id="Navigation_controls_prev"><i class="material-icons">skip_previous</i></a>
              <a id="Navigation_controls_pause" onClick={this.props.onPlayPause}>
                <i id="Navigation_controls_pause_icon" class="material-icons">pause</i>
              </a>
              <a id="Navigation_controls_next"><i class="material-icons">skip_next</i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
