<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <title>{{page.title}} | SC Ballroom and Latin Dance Team</title>

  <!-- Third-party CSS below -->
  <link rel="stylesheet" href="{{site.github.url}}/thirdparty/bootstrap.min.css"/>
  <link rel="stylesheet" href="{{site.github.url}}/thirdparty/slick/slick.css"/>
  <link rel="stylesheet" href="{{site.github.url}}/thirdparty/slick/slick-theme.css"/>
  <!-- Third-party CSS above -->

  <!-- Font imports below -->
  <!-- To import fonts, place them in the "fonts" folder and do it in the same way as the ones below. -->
  <style>
    @font-face {
      font-family: 'Dancing Script';
      src: url('{{site.github.url}}/fonts/DancingScript.ttf');
    }
    @font-face {
      font-family: 'Klinic Slab';
      src: url('{{site.github.url}}/fonts/KlinicSlabBook.otf');
    }
    @font-face {
      font-family: 'Lato';
      src: url('{{site.github.url}}/fonts/Lato-Regular.ttf');
    }
    @font-face {
      font-family: 'Material Icons';
      font-style: normal;
      font-weight: 400;
      src: url('{{site.github.url}}/fonts/MaterialIcons-Regular.ttf');
    }
    .material-icons {
      font-family: 'Material Icons';
      font-weight: normal;
      font-style: normal;
      font-size: 24px;
      line-height: 1;
      letter-spacing: normal;
      text-transform: none;
      display: inline-block;
      white-space: nowrap;
      word-wrap: normal;
      direction: ltr;
      -webkit-font-feature-settings: 'liga';
      -webkit-font-smoothing: antialiased;
    }
  </style>
  <!-- Font imports above -->

  <!-- CSS files written by us below -->
  <link rel="stylesheet" href="{{site.github.url}}/css/main.css"/>
  <link rel="stylesheet" href="{{site.github.url}}/css/page-specific.css"/>
  <!-- CSS files written by us above -->

  <!-- Facebook Pixel code below (for visitor counting) -->
  <script>
    !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
    n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
    document,'script','https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1611077499204557');
    fbq('track', "PageView");
  </script>
  <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=1611077499204557&ev=PageView&noscript=1"
    /></noscript>
  <!-- Facebook Pixel code above -->
</head>
<body>

  <!-- Visible website below -->
  <div class="Site">
    <div class="SiteHeader {% if page.large_header %}SiteHeader_large{% endif %}">
      <div class="SiteHeaderBackground">
        <div id="slick_carousel" class="SiteHeaderBackground_carousel">
        </div>
      </div>
      <div class="SiteHeader_overlay">
        <div class="page_container">
          <div class="SiteHeader_title">
            <span>SC Ballroom and Latin Dance&nbsp;Team</span>
          </div>
        </div>
        <div class="Navigation_container">
          <div class="page_container">
            <div class="Navigation">
              <!-- Don't touch the following line; instead edit _data/page_order.yaml -->
              <div class="Navigation_pages">{% for page_id in site.data.page_order %}{% assign page_url = page_id | prepend:"/" | append:"/" %}{% assign p = site.pages | where:"url", page_url | first %}<a class="{% if p.url == page.url %}Navigation_currentPage{% endif %}" href="{{p.url}}">{{p.title}}</a>{% cycle '', '', '', '</div><div class="Navigation_pages">' %}{% endfor %}</div>
              <div class="Navigation_controls"><span class="Navigation_imagesLabel">images:&nbsp;</span><a id="Navigation_controls_prev"><i class="material-icons">&#xE045;</i></a><a id="Navigation_controls_pause"><i id="Navigation_controls_pause_icon" class="material-icons">&#xE034;</i></a><a id="Navigation_controls_next"><i class="material-icons">&#xE044;</i></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ContentArea_wrapper">
      <div class="ContentArea">
        {{content}}
      </div>
    </div>
  </div>
  <!-- Visible website above -->

  <!-- Third-party scripts below -->
  <script src="{{site.github.url}}/thirdparty/jquery-3.2.1.min.js"></script>
  <script src="{{site.github.url}}/thirdparty/slick/slick.min.js"></script>
  <!-- Third-party scripts above -->

  <!-- Scripts we write below -->
  <script>
    // This script sets up the background slideshow.
    var slickCarousel = $('#slick_carousel');
    if (slickCarousel) {
      // Get filenames from Jekyll
      var backgroundFilenames = [
      {% assign backgrounds = site.static_files | where: "background", true %}
      {% for background in backgrounds %}
        '{{site.github.url}}{{background.path}}',
      {% endfor %}
      ];

      // Shuffle filenames
      var m = backgroundFilenames.length, t, i;
      while (m) {
        i = Math.floor(Math.random() * m--);
        t = backgroundFilenames[m];
        backgroundFilenames[m] = backgroundFilenames[i];
        backgroundFilenames[i] = t;
      }

      // Put all the backgrounds into the website
      var backgroundHtml = '';
      for (var i = 0; i < backgroundFilenames.length; i++) {
        backgroundHtml += '<div class="SiteHeaderBackground_image" style="background-image: url(\'';
        backgroundHtml += backgroundFilenames[i];
        backgroundHtml += '\')"></div>';
      }
      slickCarousel.html(backgroundHtml);

      // Initialize Slick carousel
      slickCarousel.slick({
        autoplay: true,
        autoplaySpeed: 4000,
        pauseOnHover: false,
        fade: true,
        speed: 700,
        lazyLoad: 'ondemand',
        draggable: false,
        nextArrow: '#Navigation_controls_next',
        prevArrow: '#Navigation_controls_prev',
      });

      // Handle pause button click
      var pauseButton = $('#Navigation_controls_pause');
      if (pauseButton) {
        pauseButton.click(function() {
          var pauseIcon = $('#Navigation_controls_pause_icon')
          if (slickCarousel.slick('slickGetOption', 'autoplay')) {
            // Currently playing, need to pause
            slickCarousel.slick('slickSetOption', 'autoplay', false).slick('slickPause');
            // pauseIcon.html('play_arrow');
            pauseIcon.html('&#xE037;');
          } else {
            // Currently paused, need to play
            slickCarousel.slick('slickSetOption', 'autoplay', true).slick('slickPlay');
            // pauseIcon.html('pause');
            pauseIcon.html('&#xE034;');
          }
        });
      }
    }
  </script>
  <!-- Scripts we write above -->

</body>
</html>
